:root {
    --font-principal: "Dosis", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-Mont: "Montserrat", sans-serif;
    --font-league: "League Spartan", sans-serif;
    --font-allura: "Allura", cursive;
    --text-color-orange: #FB8912;
    --color-principal: #E35915;
    --text-color-yellow: #FAAD09;
    --text-beige: #CAA57D;
    --button-color: #BB9567;
}
